<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <configuration>
    <connectionStrings>
      <add name="ConnectionString" connectionString="Data Source=Apollo;User ID=MSCI3300_g5;Password=Gr0up5!!!"
        providerName="System.Data.SqlClient" />
      <add name="ConnectionString2" connectionString="Data Source=Apollo;User ID=MSCI3300_g5;Password=Gr0up5!!!"
        providerName="System.Data.SqlClient" />
      <add name="ConnectionString3" connectionString="Data Source=Apollo;User ID=MSCI3300_g5;Password=Gr0up5!!!"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />

    </system.web>
  </configuration>
  
  
  
  
</configuration>
